html, body {
    padding: 0;
    margin: 0;
}

body {
    /* font-family: "Segoe UI", "Selawik"; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #797979;
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00aff0 url(../img/logo.png) no-repeat fixed center;
    z-index: 888;
}

#alert, .alert {
    position: fixed;
    top: 25px;
    left: 25px;
    right: 25px;
    z-index: 999;
    background-color: #fff;
    color: #797979;
}

#alert header, .alert .header {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#alert article, .alert .content {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

#alert footer button, .alert .footer button {
    width: 100%;
    padding: 15px;
    background-color: #0095cd;
    color: #fff;
    border: none;
}

#sign-in {
    text-align: center;
}

#sign-in img {
    padding: 20px;
    max-width: 170px;
}

#sign-in h2 {
    font-weight: normal;
}

/* External Overrides */

.external {
    /* font-family: "Segoe UI Light", "Selawik Light"; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #00aff0;
    color: #fff;
}

.external input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #80d7f8;
    color: 80d7f8;
    margin-bottom: 15px;
}

.external input::-webkit-input-placeholder {
    color: #80d7f8;
}

.external button {
    background-color: #0095cd;
    color: #fff;
    border: none;
    padding: 10px;
    width: 200px;
}

.external button[disabled] {
    color: #00aff0;
}


